[access]
	inheritFrom = All-Projects
[project]
	description = AAI Context builder. Interacts with A&AI and transforms A&AI data into common model structure\n\nSet to read-only as per IT-20030\nOn June 9th, 2020 - the ONAP TSC approved the Logging Project Path Forward Proposal (v6)
	state = read only
[access "refs/*"]
	owner = group ldap/onap-gerrit-logging-analytics-pomba-pomba-aai-context-builder-committers
	owner = group saml/onap-gerrit-logging-analytics-pomba-pomba-aai-context-builder-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
